/* Style général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #f0f8ff, #ffebcd, #add8e6, #98fb98);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Conteneur du quiz */
.quiz-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

/* Titre */
h1 {
    color: #333;
}

/* Style des questions */
h3 {
    margin: 20px 0;
}

/* Style pour le résultat DANGEREUX */
.dangerous {
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    display: inline-block; /* Pour s'assurer que le cadre entoure le texte */
}

/* Style des boutons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
